@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --brackground-color: rgb(28, 29, 28);
  --primary-color: rgb(0, 255, 157);
  --secundary-color: rgba(0, 0, 0, 0.877);
  --brackground-secundary-color: rgba(0, 255, 157, 0.568);
  --color-text1: rgb(254, 255, 255);
  --color-text2: rgb(100, 95, 95);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brackground-color);
  font-family: "Roboto", sans-serif;
  color: var(--color-text2);
}

/* ------------------- CONTENEDOR GENERAL --------------------------------- */
.contenedor__general {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 60px 150px;
}


.container__global{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5% ;
  margin-right: 5% ;
  gap: 50px;
  flex-wrap: wrap;
}

/* ------------------- SECCION 2 --------------------------------- */

.section_2 {
  display: flex;
  flex-direction: column;
  width: 61%;
}

.section_2 .subtitulo {
  color: var(--color-text2);
  font-size: 13px;
  font-weight: bold;
}

/* ------ moneda ----------- */

.sector_moneda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  gap: 10px;
}

.input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 10px;
  color: var(--color-text1);
  font-size: 20px;
}

.input_container {
  display: flex;
  /*  border: 1px solid red; */
  width: 360px;
  height: 58px;
  border-radius: 15px;
  overflow: auto;
  border: 1px solid var(--color-text2);
  justify-content: space-between;
}

.input_container_simbolo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 24px;
  background-color: var(--color-text2);
  width: 40px;
}

.input_container_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.input_container_close i {
  color: var(--color-text2);
  font-size: 20px;
}

/* ------- comision ------ */

.sector_comision {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
  gap: 10px;
  align-items: center;
}

.sector_comision_inputs {
  display: flex;
  gap: 10px;
}

.sector_comision .sector_comision_inputs .input_container {
  width: 173px;
}

.btn__compartir {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  height: 53px;
  border-radius: 20px;
  overflow: auto;
  border: 1px solid var(--color-text2);
}

.btn__compartir a {
  color: white;
  font-size: 19px;
  display: flex;
  gap: 5px;
  text-decoration: none;
}

/* Header */
header {
  margin-top: 70px;
  color: var(--color-text1);
  text-align: center;
}
header p {
  color: var(--color-text2);
  font-size: 18px;
}

/* Contenedor criptos con img */
.container__criptos {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin: 20px 0 20px 0;
}
.container__criptos div {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: black;
  font-weight: 800;
}
.container__criptos div img {
  width: "16px";
}
.container__criptos p {
  color: black;
}

.container__resultado {
  border: 1px solid var(--color-text2);
  color: var(--color-text1);
  border-radius: 10px;
  width: fit-content;
  padding: 15px;
}

.container_btn {
  display: flex;
  justify-content: center;
}

.btn__conectar {
  margin-top: 20px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  border: 0;
}

.container__info {
  margin-top: 20px;
  color: var(--color-text2);
  display: flex;
  flex-direction: column;
}

.container__precios {
  color: var(--secundary-color);
  background-color: var(--brackground-secundary-color);
  width: fit-content;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
}

.container__info2 {
  margin-top: 15px;
  color: var(--color-text2);
  display: flex;
  gap: 50px;
}
